* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 30px;
  border: 1px solid #888;
  gap: 2px;
  height: auto;
  margin-left: 20px;
}

body {
  font-family: sans-serif;
  background: #000;
  color: white;
  overflow-x: hidden;
  font-family: "Montserrat Alternates";
}



.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  background: rgba(10, 20, 10, 0);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 20px;
  z-index: 9999;
  border: 2px solid #88888853;

}

.nav-link {
  transition: all 0.3s ease;
  border-radius: 20px;
  border: 0px solid #888;
  translate: 0 2px;

}

.nav-link:hover {
  color: #00ffcc;

  border-radius: 20px;
  border: 2px solid #888;
  translate: 0 2px;

  padding: 5px 5px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.a:hover {
  translate: 0 -2px;
  transition-duration: 500ms;
}


.login-btn {
  background: #888888a9;
  color: white;
  border: 1px solid #888;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;


}

.login-btn:hover {
  translate: 0 -2px;
  transition-duration: 500ms;
}

.thumbs img {
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.thumbs img.active,
.thumbs img:hover {
  opacity: 1;
  border: 2px solid #00ffae;
}

.main-img {
  transition: opacity 0.3s ease-in-out;
}


.product-card {
  max-width: 1100px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 16px;
  background-color: #0e0f1a;
  color: white;

  box-shadow: 0 0 20px #00ffae20;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.product-gallery {
  flex: 1;
  min-width: 300px;
}

.product-gallery .main-img {
  width: 100%;
  border: 1px solid #00ffae30;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-gallery .thumbs img {
  width: 60px;
  height: 40px;
  object-fit: cover;
  margin: 5px;
  border: 1px solid #00ffae30;
  border-radius: 4px;
}

.product-info {
  flex: 1;
  min-width: 300px;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.price-range {
  font-size: 18px;
  margin-bottom: 10px;
  color: #aaa;
}

.badges {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
}


.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 14px;
  font-size: 20px;
  background: #88888800;
  backdrop-filter: blur(10px);
  color: white;
  border: 2px solid #888;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  box-shadow: 0 0 10px #888;
  transition: transform 0.3s;
}

.scroll-top:hover {
  transform: translateY(-3px);
}


.badge.green {
  background: #888;
  color: black;
}

.badge.darkgreen {
  background: #565656;
  color: white;
}

.features-box {
  border: 1px solid #00ffae50;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #14151f;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.features-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

.features-box ul {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 14px;
}

.features-box ul li {
  margin: 6px 0;
}

.product-pricing {
  border-top: 1px solid #444;
  padding-top: 30px;
  text-align: center;
}

.plan-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.plan-buttons button {
  padding: 8px 18px;
  border-radius: 6px;
  background: none;
  border: 1px solid #00ffae60;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.new-price {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

.plan-buttons .active {
  background: linear-gradient(to right, #00ffae, #007f5f);
  color: black;
}

.old-price {
  text-decoration: none;
  color: #888;
  font-size: 18px;
}



.stock {
  color: #ccc;
  margin-top: 10px;
}

.in-stock {
  color: #00ffae;
}

.purchase-btn {
  margin-top: 30px;
  padding: 15px 60px;
  border-radius: 10px;
  background: #888;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 10px #889999;
  cursor: pointer;
  transition: all 0.3s ease;
}

.purchase-btn:hover {
  background: #afafaf;
  color: black;
  box-shadow: 0 0 20px #b3b2b2;
}


.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  flex-wrap: wrap;

}

.footer-left {
  max-width: 400px;
}

.footer-left .logo {
  width: 30px;
  margin-bottom: 10px;
}

.footer-left h2 {
  font-size: 24px;
  margin: 0;
}

.footer-left .green {
  color: #00ffae;
}

.footer-left p {
  margin: 10px 0;
  color: #777;
  font-size: 14px;
}

.footer-left .featured {
  margin-top: 20px;
}

.footer-links {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.column h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.column a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 6px 0;
  font-size: 14px;
  transition: 0.2s;
}

.column a:hover {
  color: #888;
}


.brend {
  animation: brend 2.5s infinite ease-in-out;
  animation-delay: 0.3s;
  transition: all 0.3s ease;
  font-size: 30px;
  font-weight: 700;
}


.brend:nth-child(2) {
  animation-delay: 0.5s;
}

.brend:nth-child(3) {
  animation-delay: 0.7s;
}

.brend:nth-child(4) {
  animation-delay: 0.9s;
}

.brend:nth-child(5) {
  animation-delay: 1.1s;
}

.brend:nth-child(6) {
  animation-delay: 1.3s;
}



@keyframes brend {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: #888;
  }
}


.cart-modal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #0f111b;
  box-shadow: -4px 0 20px rgba(0, 255, 174, 0.1);
  z-index: 9999;
  transition: right 0.4s ease;
}

.cart-modal.open {
  right: 0;
}

.cart-modal-content {
  padding: 20px;
  color: white;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
  float: right;
}


.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buy-item { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}


.discount-container {
  border: 1px solid #888;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
  background-color: #0f111b;
  color: white;

}

.discount-header {
  padding: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #888;
}

.discount-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
  padding: 0 16px;
}

.discount-body.open {
  max-height: 100px;
  padding: 16px;
}

.discount-input {
  width: 70%;
  padding: 10px;
  background-color: #11131d;
  border: 1px solid #888;
  border-radius: 6px 0 0 6px;
  color: white;
}

.apply-btn {
  background-color: #888;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}



.arrow {
  transition: transform 0.5s ease;

}

.arrow.rotate {
  transform: rotate(180deg);
}



.checkout-btn {
  background-color: #888;
  color: white;
  padding: 10px 155px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease;
  margin-top: 420px;
}

.checkout-btn:hover { 
  translate: 0 -4px;
}

.cart-buy{
  color: white;
}


